*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  --main : #FFFFFF;
  --headline: #1f1235;
  --subHeadline: #1b1425;
  --secondary:#67568c; 
  --third:#fbdd74; 
  --error: #dc204c;
  --button:#ff6e6c; 
  --button-text:#1f1235; 
  --illustration:#1f1235; 
  --highlight:#ff6e6c; 
  }

body{
  line-height: 1,625;
  margin: 0;
  color: inherit ;
  overflow-x: hidden;
  
} 

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

code {
  font-family: 'Open Sans', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  margin: 1.875em auto;
  padding: 1.875em 1.25em;
  width: 1150px;
}
.topbar{
  display: flex;
  width: 100%;
  background-color: #1f1235;
}

.article {
    width: 400px;
    background-color: var(--main);
    border: solid 5px var(--headline);
    box-shadow: rgba(0,0,0,0.2) 0 0 10px;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  li{
    list-style: none;
  }
  
  .empty{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(173, 82, 66);
  }
  
  .item {
    font-size: medium;
    font-weight: bold;
  }
  
  .description {
    font-size: large;
    font-style: italic;
    color: var(--subHeadline);
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  