.coviddata{
    display: flex;
    margin: 1em;
}

.__coviddata_country{
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
    background-color: var(--button);
}

.h1_title{
    display: flex;
    justify-content: center;
    align-items: center;    

}